th{
      height: 80px;
}

.coin-th{
      border-bottom: 1px solid rgb(133, 133, 133);
}

.coin{
      display: flex;
      align-items: center;
      padding-right: 24px;
      min-width: 300px;
}

th > h1{
      font-size: 16px;
}

th > img{
      height: 30px;
      width: 30px;
      margin-right: 10px;
}

.coin-symbol{text-transform: uppercase}

.red{color: red}
.green{color: rgb(0, 204, 0)}